<!DOCTYPE html>

<html>
	<head>
		<title>Main Page</title>
	</head>

	<style type="text/css">
		body {
			font-family: sans-serif;
			width: 800px;
			margin: 0 auto;
			padding: 10px;
		}

		.header {
			font-size: 20px;
		}

		ul {
			margin: 4px 0 4px 0;
		}

		li {
			padding: 2px 0 2px 0;
			margin: 2px 0 2px 0;
		}
	</style>

	<body>
		<h1>Hello World</h1>
		<div class="header">Site Map:</div>
		<ul>
			<li><a href='/rot13'>Rot13</a></li>
			<li><a href='/blog'>Blog</a></li>
			<li><a href='/blog/signup'>Sign Up</a></li>
			<li><a href='/blog/login'>Login</a></li>
		</ul>
	</body>
</html>